* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  color: white;
}
  #STORENAME {
  font-size: 35px;
  height: 60px; 
  display: flex;
  justify-content: center;
  align-items: center;
  }
  #navigation {
  display: flex;
  flex: 1;
  height: 50px; /* Adjust the height as needed */
  }
    #sep {
    flex: 0.1;

    }
    #headButtons {
    flex: 0.8;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }
      #contheadButtons {
      display: flex;
      max-width:1000px;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      flex: 1;
      }
      .headnavbutton {
      display: flex;
      font-size: 20px;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 8px;
      background-color: black;
      height: 38px;
      width: 155px;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5)

      }
    #headIcons {
    flex: 0.1;
    justify-content: space-evenly; 
    display: flex;
    justify-content: center;
    align-items: center;
    }
      .button-icon-user {
      background-image: url("../public/icons/user.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 24px; /* Adjust the width and height according to your icon size */
      height: 24px;
      display: inline-block;
      }
      .button-icon-cart {
      background-image: url("../public/icons/cart.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 24px; /* Adjust the width and height according to your icon size */
      height: 24px;
      display: inline-block;
      }

#footer {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column; /* Set to column */
  align-items: center;
  justify-content: center;
}     
  #footer-title {
    font-size: 19px;
    height: 30px;
    display: flex;
    align-items: center;
  }
  #footer-address {
    font-size: 17px;
    height: 30px;
    display: flex;
    align-items: center;
  }
  #footer-text {
    font-size: 15px;
    height: 30px;
    display: flex;
    align-items: center;
  }
  #social-icons {
    height: 40px;
    display: flex;
    align-items: center;
  }
    #social-icons img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    }













img {
  width: 100px;
  height: 100px;
}